@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

/*********************** Colors Section ***********************/
body{
    background-color: #ECF1F2;
}
.bg-navbar{
    /* background: linear-gradient(to bottom right, #171b22 40%, #FFCA29 80%); */
    background: linear-gradient(to bottom right, #FFCA29 30%, #171b22 70%);
}
.bg-footer{
    background: linear-gradient(to bottom right, #171b22 80%, #FFCA29 90%);
}

/*********************** General ***********************/
.max-width-auto{
    max-width: 100% !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.text-center{
    text-align: center;
}
/*********************** Navbar ***********************/
.company-logo{
    min-height: 75px;
    margin: 5px 0;
    height: 75px !important;
    width: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

nav li a{
    height: auto !important;
    line-height: normal !important;
    margin-top: 45px;
    font-size: 22px !important;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
}

nav {
    height: 80px !important;
}

.hero-image{
    min-height: 400px;
    width: 100%;
    display: block;
    background-image: url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 2s ease-in;
    -moz-transition: all 1.5s ease-in;
    -webkit-transition: all 1.5s ease-in; 
}

/*********************** Recently Added Carousel ***********************/
.carousel{
    height: 600px !important;
}
.carousel-item{
    width: 300px !important;
    height: auto !important;
}
/*********************** esports forms and posts ***********************/
.epic-form-btn{
    width: 49% !important;
    margin: 0 0.5% !important;
    font-weight: 700;
}
.epic-form-icon{
    font-size: 1.2rem !important;
}
.epic-image{
    height: 300px;
    width: 100%;
    border-radius: 10%;
}

/*********************** Footer ***********************/

.social-media-links{
    margin: 0;
    text-align: center;
}
.social-media-links li a i{
    font-size: 24px;
    width: 40px;
    height: 40px;
    color: snow;
    padding: 8px 0 8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.301);
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.social-media-block{
    margin-left: 20px;
    font-size: 20px !important;
}
.copyright-info-block{
    min-height: 25px !important;
    margin-left: 10px;
}
/*********** Smart Phones Only ***********/
@media screen and (max-width:767px){
    .company-logo{
        margin-left: calc(50% - 70px);
    }
}