/*********************** Colors Section ***********************/
body{
    background-color: #A9CEE8;
}
.bg-navbar{
    background-color: #003AA4;
}

.epic-form-btn{
    width: 49% !important;
    margin: 0 0.5% !important;
    font-weight: 700;
}

.epic-form-icon{
    font-size: 1.2rem !important;
}