{% block content %}
    <!-- Modal Code obtained from [3] in Readme-->
    <div class="modal delete-modal" id="deleteEpicModal" tabindex="-1" role="dialog" aria-labelledby="deleteEpicModal" aria-hidden="true">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <h3 id="delete-epic-title"></h3>
                </div>
            </div>
            <div class="delete-cancel-btns-container">
                <a id="delete-epic-confirm-button" href="" class="modal-action red modal-close waves-effect waves-light btn delete-modal-btn">
                    Confirm Deletion <i class="fas fa-times-circle right">delete</i>
                </a>
                <button type="button" class="modal-action modal-close waves-effect waves-light btn delete-modal-btn">Cancel</button>
            </div>
        </div>
    </div>
    <div class="modal delete-modal" id="deleteEventModal" tabindex="-1" role="dialog" aria-labelledby="deleteEventModal" aria-hidden="true">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <h3 id="delete-event-title"></h3>
                </div>
            </div>
            <div class="delete-cancel-btns-container">
                <a id="delete-event-confirm-button" href="" class="modal-action red modal-close waves-effect waves-light btn delete-modal-btn">
                    Confirm Deletion <i class="fas fa-times-circle right">delete</i>
                </a>
                <button type="button" class="modal-action modal-close waves-effect waves-light btn delete-modal-btn">Cancel</button>
            </div>
        </div>
    </div>
    <div class="modal delete-modal" id="deleteNewsModal" tabindex="-1" role="dialog" aria-labelledby="deleteNewsModal" aria-hidden="true">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <h3 id="delete-news-title"></h3>
                </div>
            </div>
            <div class="delete-cancel-btns-container">
                <a id="delete-news-confirm-button" href="" class="modal-action red modal-close waves-effect waves-light btn delete-modal-btn">
                    Confirm Deletion <i class="fas fa-times-circle right">delete</i>
                </a>
                <button type="button" class="modal-action modal-close waves-effect waves-light btn delete-modal-btn">Cancel</button>
            </div>
        </div>
    </div>
{% endblock %}