{% block footer %}
    <!-- Footer Social Links & Copyright -->
    <footer class="page-footer bg-footer">
        <div class="container">
            <div class="row">
                <div class="col m12 s12 social-media-block">
                    <h6 class="white-text text-center">Follow us on Social Media<br>for all your Esports highlights!</h6>
                    <ul class="social-media-links list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/" class="hvr-sweep-to-bottom" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i><span class="sr-only">FaceBook</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.twitter.com/" class="hvr-sweep-to-bottom" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i><span class="sr-only">Twitter</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/" class="hvr-sweep-to-bottom" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i><span class="sr-only">Instagram</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/" class="hvr-sweep-to-bottom" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i><span class="sr-only">Youtube</span></a>
                        </li>    
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright copyright-info-block">
            <div>
                © 2021 Copyright
            </div>
        </div>
    </footer>
{% endblock %}
