{% extends "base.html" %}
{% block content %}
    <!-- Hero Image -->
    <div class="row">
        <div class="s12 hero-container">
            <span class="hero-image" role="img" aria-label="Esports Tournament Arena"></span>
            <div class="hero-text-container">
                <p class=" hero-text scale-in">Esports Epics... a place for your Esports content needs!</p> 
            </div>
        </div>
    </div>
    <!-- Recent Submissions -->
    <div class="container">
        <div class="row">
            <div class="s12">
                <h4 class="section-header">Recent Submissions</h4>
                <div class="divider"></div>
                <div class="carousel carousel-slider recent-post-carousel">
                    {% if epics|length > 0 %}
                        {% for epic in epics %}
                            <div class="card carousel-item recent-post-carousel-item">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img src="{{ epic.image }}" alt="{{ epic.short_description }}" class="epic-image activator">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator white-text recent-post-title">{{ epic.title }}</span>
                                    <i class="material-icons activator right white-text recent-post-info">info</i>
                                </div>
                                <div class="card-reveal recent-post-card-reveal">
                                    <span class="card-title recent-post-title">{{ epic.title }}<i class="material-icons right">cancel</i></span>
                                    <div class="divider"></div>
                                    <p class="recent-post-description">{{ epic.description }}</p>
                                    <a class="waves-effect waves-light btn modal-trigger recent-card-vod-btn" data-target="videoModal" data-epic="{{ epic.title }}" data-toggle="modal" data-video="{{ epic.video|replace('watch?v=', 'embed/')}}">VOD Here!</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="card-panel  carousel-item">
                            <div class="card-panel">
                                <h3 class="text-darken-4 center-align">Error: Unable to load recent posts.</h3>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="divider"></div>
            </div>
        </div>
    </div>

    <!-- Latest News & Events -->
    <div class="container">
        <div class="row">
            <div class="col s12 l7">
                <div class="card">
                    <h4 class="latest-news-header center-align">Latest News</h4>
                    <ul class="collapsible latest-news-list popout">
                        {% if news|length > 0 %}
                            {% for story in news %}
                                <li class="hoverable">
                                    <div class="collapsible-header no-padding news-div">
                                        <div class="center-align">
                                            <h6 class="news-title">{{ story.title}}</h6>
                                            <i class="material-icons news-drop-icon">arrow_drop_down_circle</i>
                                        </div>
                                    </div>
                                    <div class="collapsible-body latest-news-card no-padding">
                                        <span>
                                            <img src="{{ story.post_image }}" alt="{{ story.title }}" class="news-image">                                           
                                        </span>
                                        <div class="pre-line post-body">
                                            {{ story.post_body }}
                                            <p class="author-text">written by: {{ story.username }}</p>
                                        </div> 
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <div class="card-panel ">
                                <h3 class="text-darken-4 center-align">No News</h3>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col s12 l5">
                <div class="card">
                    <h4 class="current-events-header center-align">Current Events</h4>
                    <ul class="collapsible current-events-list">
                        {% if events|length > 0 %}
                            {% for event in events %}
                                <li class="hoverable">
                                    <div class="collapsible-header no-padding">
                                        <img src="{{ event.event_image }}" alt="{{ event.title }}" class="event-image">
                                        <h6 class="event-title-text">{{ event.title}}</h6>
                                        <p class="event-date-text">{{ event.start_date|replace(', 2021', '') }} - {{ event.end_date|replace(', 2021', ' 2021') }}</p>
                                    </div>
                                    <div class="collapsible-body"><span>{{ event.description }}</span></div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <div class="card-panel ">
                                <h3 class="text-darken-4 center-align">No Upcoming Events</h3>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include "vod-modal.html" %}
{% endblock %}
