{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <h3 class="center-align">Profile</h3>
            <div class="col s12">
                <div class="card-panel">
                    <h3 class="center">Account Information</h3>
                    <div class="row">
                        <div class="col s6">
                            <p class="center">Username:  {{ username }}</p>                            
                            <p class="center">Email:  {{ user.email }}</p>                            
                            <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                                Delete Account
                                <i class="fas fa-user-slash"></i>
                            </button>
                        </div>
                        <div class="col s6">
                            <img src="" alt="Profile Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h3 class="center-align">Edit Esports Posts</h3>
            <div class="col s12">
                <div class="card-panel epic-card-container">
                    <div class="row">
                        {% if epics|length > 0 %}
                            {% for epic in epics %}
                                <div class="col s12 m6 l4">
                                    <div class="card-panel profile-epic-card">
                                        <div class="card-panel epic-card">
                                            <div class="epic-title-container">
                                                <a class="waves-effect waves-light btn modal-trigger vod-modal-btn" data-target="videoModal" data-epic="{{ epic.title }}" 
                                            data-toggle="modal" data-video="{{ epic.video|replace('watch?v=', 'embed/')}}" >{{ epic.title }}</a>
                                            </div>
                                            <p class="epic-description">{{ epic.description }}</p>
                                            <a class="modal-trigger" data-target="videoModal" data-toggle="modal" data-video="{{ epic.video|replace('watch?v=', 'embed/')}}" data-epic="{{ epic.title }}">
                                            <div class="post-image-container">
                                                <img src="{{ epic.image }}" alt="{{ epic.short_description }}" class="epic-image"> 
                                                <i class="material-icons play-button">play_circle_outline</i>
                                            </div>
                                            </a>
                                            <p class="post-user-text"><em>submitted by: {{ epic.username }}</em></p>
                                        </div>
                                        <!-- Modal Trigger -->
                                        <div class="epic-title-container row">
                                            <a href="{{ url_for('edit_epic', epic_id=epic._id) }}" class="col s12 waves-effect waves-light btn edit-delete-btn">
                                                <i class="small material-icons edit-icon">edit</i>                                                
                                                Edit Post
                                            </a>
                                            <a href="" class="modal-trigger col s12 waves-effect waves-light red btn edit-delete-btn" data-target="deleteEpicModal" data-toggle="modal" data-epic="{{ epic.title }}" data-epic-id="{{ epic._id }}">
                                                <i class="small material-icons edit-icon">delete_forever</i>
                                                Delete Post
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col s12">
                                <div class="card-panel">
                                    <h3 class="text-darken-4 center-align">You have no posts.</h3>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if session.is_journalist == True %}
        <div class="container">
            <div class="row">
                <h3 class="center-align">Edit News Posts</h3>
                <div class="col s12">
                    <div class="card-panel epic-card-container">
                        <div class="row">                            
                            <ul class="collapsible latest-news-list popout">
                                {% if news|length > 0 %}
                                    {% for story in news %}
                                        <li class="hoverable">
                                            <div class="collapsible-header no-padding news-div">
                                                <div class="center-align">
                                                    <h6 class="news-title">{{ story.title}}</h6>                                                    
                                                    <i class="material-icons news-drop-icon">arrow_drop_down_circle</i>
                                                    <div class="float-right">
                                                        <a href="{{ url_for('edit_news', story_id=story._id) }}" class="waves-effect waves-light btn edit-btn">
                                                            <i class="material-icons edit-icon">edit</i>
                                                            Edit
                                                        </a>
                                                        <a href="" class="modal-trigger red waves-effect waves-light btn edit-btn" data-target="deleteNewsModal" data-toggle="modal" data-story="{{ story.title }}" data-story-id="{{ story._id }}">
                                                            <i class="small material-icons edit-icon">delete_forever</i>
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="collapsible-body latest-news-card no-padding">
                                                <span>
                                                    <img src="{{ story.post_image }}" alt="{{ story.title }}" class="news-image">
                                                    <div class="pre-line post-body">
                                                        {{ story.post_body }}
                                                        <p class="author-text">written by: {{ story.username }}</p>
                                                    </div>                                            
                                                </span>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <div class="card-panel ">
                                        <h3 class="text-darken-4 center-align">No News</h3>
                                    </div>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if session.is_moderator == True %}
        <div class="container">
            <div class="row">
                <h3 class="center-align">Edit Events</h3>
                <div class="col s12">
                    <div class="card-panel">
                        <div class="row">                            
                            <h4 class="current-events-header center-align">Current Events</h4>
                            <ul class="collapsible current-events-list">
                                {% if events|length > 0 %}
                                    {% for event in events %}
                                        <li class="hoverable">
                                            <div class="collapsible-header no-padding">
                                                <img src="{{ event.event_image }}" alt="{{ event.title }}" class="event-image">
                                                <h6 class="event-title-text width-30">{{ event.title}}</h6>
                                                <p class="event-date-text width-30">{{ event.start_date|replace(', 2021', '') }} - {{ event.end_date|replace(', 2021', ' 2021') }}</p>
                                                <a href="{{ url_for('edit_events', event_id=event._id) }}" class="waves-effect waves-light float-right btn edit-btn">
                                                    <i class="material-icons edit-icon">edit</i>Edit
                                                </a>
                                                <a href="" class="modal-trigger red waves-effect waves-light float-right btn edit-btn" data-target="deleteEventModal" data-toggle="modal" data-event="{{ event.title }}" data-event-id="{{ event._id }}">
                                                    <i class="small material-icons edit-icon">delete_forever</i>
                                                    Delete
                                                </a>
                                            </div>
                                            <div class="collapsible-body"><span>{{ event.description }}</span></div>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <div class="card-panel ">
                                        <h3 class="text-darken-4 center-align">No Upcoming Events</h3>
                                    </div>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <h3 class="center-align">Favourites</h3>
            <div class="col s12">
                <div class="card-panel">
                </div>
            </div>
        </div>
    </div>
    {% include "vod-modal.html" %}
    {% include "delete-modal.html" %}
{% endblock %}
