{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h3 class="center-align">Profile</h3>
        <div class="col s12">
            <div class="card-panel">
                <h3 class="center">Account Information</h3>
                <div class="row">
                    <div class="col s6">
                        <p class="center">Username</p>
                        <p class="center"></p>
                        <p class="center">Email</p>
                        <p class="center"></p>
                        <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                            Delete Account
                            <i class="fas fa-user-slash"></i>
                        </button>
                    </div>
                    <div class="col s6">
                        <img src="" alt="Profile Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="center-align">My Esports Posts</h3>
        <div class="col s12">
            <div class="card-panel">
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="center-align">Favourites</h3>
        <div class="col s12">
            <div class="card-panel">
            </div>
        </div>
    </div>
{% endblock %}
