{% extends "base.html" %}
{% block content %}
    <div class="row">
        <h3 class="center-align">Profile</h3>
        <div class="col s12">
            <div class="card-panel">
                <h3 class="center">Account Information</h3>
                <div class="row">
                    <div class="col s6">
                        <p class="center">Username</p>
                        <p class="center">{{ username }}</p>
                        <p class="center">Email</p>
                        <p class="center">{{ username }}</p>
                        <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                            Delete Account
                            <i class="fas fa-user-slash"></i>
                        </button>
                    </div>
                    <div class="col s6">
                        <img src="" alt="Profile Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="center-align">My Esports Posts</h3>
        {% if epics|length > 0 %}
            {% for epic in epics %}
                <div class="col s12 m6 l4">
                    <div class="card-panel">
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger" data-target="videoModal" data-toggle="modal" data-video="{{ epic.video|replace('watch?v=', 'embed/')}}" >{{ epic.title }}</a>
                        <p>{{ epic.description }}</p>                        
                        <img src="{{ epic.image }}" alt="{{ epic.short_description }}" class="epic-image">
                        <p><em>submitted by: {{ epic.username }}</em></p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col s12">
                <div class="card-panel">
                    <h3 class="text-darken-4 center-align">You have no posts.</h3>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <h3 class="center-align">Favourites</h3>
        <div class="col s12">
            <div class="card-panel">
            </div>
        </div>
    </div>

    <!-- Modal Code obtained from [3] in Readme-->
    <div class="modal" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
        <div class="modal-content">
            <div>
                <iframe width="100%" height="500px" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
        </div>
    </div>
{% endblock %}
