{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">Create an Account</h3>
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
					<div class="input-field col s12">
                        <i class="material-icons prefix">person</i>
						<input id="username" name="username" type="text" class="validate">
						<label for="username">Username</label>
					</div>
                </div>
                <!-- email -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" name="email" type="email" class="validate">
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="Please use a valid email address." data-success="">e.g john.doe@gmail.com</span>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>

                <!-- confirm password -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="material-icons prefix">enhanced_encryption</i>
                        <input id="pwconfirm" name="pwconfirm" type="password" class="validate">
                        <label for="pwconfirm">Confirm Password</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Register 
                        <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
